[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
pillow = "*"
djangorestframework = "*"
httpie = "*"
docutils = "*"
celery = "*"
django-celery-beat = "*"
django_celery_results = "*"
cryptography = "*"
python-magic = "*"
xmltodict = "*"
dicttoxml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
